/* All pages styles */
body {
    background-color: #bde0fe;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #6a0dad;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5px;
}

.button-link {
    display: inline-block;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: bold;
    background-color: #7b2cbf;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.2s;
    margin: 10px;
    text-decoration: none;

}

.button-link:hover {
    background-color: #c77dff;
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    font-size: 20px;
    color: #212529;
}

.punBox {
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #6a0dad;
    padding: 20px;
    max-width: 600px;
     border: 2px solid #6a0dad;
    margin-left: auto;
    margin-right: auto;
    background-color: #a2d2ff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: 1; =
    transition: opacity 0.5s ease;
    margin-bottom: 30px;
}

