<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter Numbers</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<h1>Enter Numbers to Create a Binary Tree</h1>

<div class="form-container">
    <form th:action="@{/process-numbers}" method="post">
        <label for="numbers">Enter Numbers (Ex. 1, 2, 3):</label>
        <input type="text" id="numbers" name="numbers" required>

        <div class="checkbox-container">
            <label for="balanced">Do you want to create a balanced tree?</label>
            <input type="checkbox" id="balanced" name="balanced" value="true">
        </div>

        <button type="submit" class="submit-button">Create</button>
    </form>
</div>

<p><a th:href="@{/}" class="button-link">Home</a></p>
</body>
</html>
