<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter Numbers</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<h1>Enter Numbers to Create a Binary Search Tree</h1>

<form th:action="@{/process-numbers}" method="post">
    <label for="numbers">Enter Numbers (Ex. 1, 2, 3):</label>
    <input type="text" id="numbers" name="numbers" required>

    <div class="checkbox-container">
        <input type="checkbox" id="balanced" name="balanced" value="true">
        <label for="balanced">Create a balanced tree</label>
    </div>

    <button type="submit">Create</button>
</form>

<p><a th:href="@{/}">Home</a></p>
</body>
</html>